/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2rem;
}

h2,
h3 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.logo {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
  background-position: bottom center;
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  padding: 60px;
  background-color: hsl(217, 28%, 15%);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  text-align: center;
  width: 30%;
  justify-content: space-between;
  margin: auto 0;
}

.nav-menu a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  margin: auto;
  font-size: 13px;
}

.intro_ {
  width: 100%;
  background-color: hsl(217, 28%, 15%);
  background-image: url(images/bg-curvy-desktop.svg);
  background-position: bottom center;
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
}

.intro {
  width: 50%;
  margin: auto;
  padding-bottom: 250px;
}

.intro-illustration {
  width: 80%;
}

.intro-heading {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 20px auto;
  width: 80%;
}

.intro-details {
  margin: auto;
  width: 60%;
}

button {
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

.middle-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  text-align: center;
  margin: auto;
  justify-content: space-around;
}

.section-icons {
  height: 70px;
  margin-bottom: 10px;
}

.mid-sections {
  width: 35%;
  margin: 50px;
}

.mid-sections h3 {
  font-weight: 700;
  margin: 10px 0;
}

.stay-productive {
  width: 80%;
  margin: 200px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stay-productive-illustration {
  width: 45%;
}

.stay-productive-text {
  width: 45%;
  margin: auto;
}

.stay-productive-heading {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 20px 0;
  width: 60%;
}

.stay-productive-text p {
  margin-top: 12px;
}

.how-fylo-works {
  display: inline-block;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  padding-bottom: 2px;
  cursor: pointer;
}

.arrow {
  margin-bottom: -4px;
}

.testimonial-section {
  width: 80%;
  margin: 100px auto;
  position: relative;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quote {
  position: absolute;
  top: -35px;
  left: -15px;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
  width: 30%;
  border-radius: 5px;
  padding: 40px 20px 20px;
  z-index: 10;
}

.testimony {
  padding-bottom: 30px;
}

.testifier-profile {
  border-radius: 50%;
  float: left;
  height: 35px;
  margin-right: 8px;
}

.testifier-name {
  font-weight: 700;
}

.tetsifier-position {
  font-size: 10px;
}

.early-access {
  width: 50%;
  margin: 0 auto;
  border-radius: 7px;
  text-align: center;
  background-color: hsl(217, 28%, 15%);
  padding: 30px 50px;
  transform: translateY(40%);
}

.early-access h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.early-access p {
  margin: 20px auto;
  width: 80%;
}

form {
  display: flex;
  justify-content: space-between;
}

#email {
  padding: 10px 10px 10px 50px;
  border-radius: 30px;
  border: none;
  font-weight: 300;
  cursor: pointer;
  margin-top: 20px;
  background-color: hsl(0, 0%, 100%);
  width: 58%;
}

::placeholder {
  font-size: 10px;
}

.get-started {
  width: 38%;
  padding: 10px 10px;
}

.footer-section {
  background-color: hsl(216, 53%, 9%);
  padding: 150px 100px 80px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
}

.address {
  width: 30%;
  display: flex;
}

.footer-icon {
  width: min-content;
  height: min-content;
  margin-right: 2rem;
  margin-top: 5px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 10%;
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  margin-bottom: 25px;
  font-size: 14px;
}

.contact {
  width: 20%;
  margin: 0 50px 0 50px;
}

.contact li {
  display: inline-flex;
  margin-bottom: 1.5rem;
}

.social {
  width: 20%;
  margin: 0;
}

.social i {
  margin: 0 10px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  .header {
    padding: 15px;
  }

  .logo {
    width: 70px;
  }
  .nav-menu {
    width: 50%;
  }

  .nav-menu a {
    font-size: 10px;
  }

  .intro_ {
    background-image: url(images/bg-curvy-mobile.svg);
  }

  .intro {
    width: 85%;
    margin: auto;
    padding-bottom: 0;
    padding-top: 10px;
  }

  .intro-illustration {
    width: 100%;
  }

  .intro-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px auto;
    width: 100%;
  }

  .intro-details {
    width: 90%;
  }

  .middle-section {
    padding-top: 50px;
    width: 100%;
  }

  .section-icons {
    height: 50px;
    margin-bottom: 10px;
  }

  .mid-sections {
    width: 85%;
    margin: 30px 0;
  }

  .mid-sections h3 {
    font-weight: 700;
    margin: 10px 0;
  }

  .stay-productive {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
  }

  .stay-productive-illustration {
    width: 80%;
    margin: 0 auto 20px;
  }

  .stay-productive-text {
    width: 80%;
    margin: auto;
  }

  .stay-productive-heading {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 10px 0;
    width: 100%;
  }

  .stay-productive-text p {
    margin-top: 10px;
  }

  .testimonial-section {
    width: 100%;
    margin: 100px auto 0;
  }

  .testimonial {
    width: 80%;
    margin: 0 auto 30px;
    padding: 30px;
  }
  .quote {
    position: absolute;
    top: -20px;
    left: 30px;
    width: 30px;
  }

  .testimony {
    padding-bottom: 30px;
    font-size: 12px;
  }

  .testifier-profile {
    height: 40px;
  }

  .tetsifier-position {
    font-size: 10px;
  }
  .early-access {
    width: 90%;
    margin: 0 auto 50px;
    padding: 30px 20px;
  }

  .early-access h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .early-access p {
    margin: 20px auto;
    width: 90%;
  }

  form {
    flex-wrap: wrap;
  }

  #email {
    margin: 5px auto;
    width: 90%;
  }

  .get-started {
    width: 90%;
    margin: 5px auto;
    padding: 10px 10px;
  }

  .footer-section {
    padding: 150px 30px 80px;
  }

  .footer-logo {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .footer-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .address {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
  }

  .nav-links a {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .contact {
    width: 100%;
    margin: 0 0 30px;
  }

  .contact li {
    display: flex;
    margin-bottom: 20px;
  }

  .social {
    width: 50%;
    margin: 10px auto 0;
    text-align: center;
  }

  .social i {
    margin: 0 5px;
    font-size: 1.5rem;
  }
}
